# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/clinker
/fixtures/169.ndj
/fixtures/p128.ndj
/endpoints.ndj
/tmp
/fixtures/fatcat-refs-urllist-2021-06-17_200_urls*
